<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>漏洞扫描</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
</head>
<body onload="load();">
<!--Navigation bar-->
<div id="nav-placeholder"></div>

<main role="main" class=" ml-sm-auto">
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-md-8 col-md-auto">
                <div class="input-group">
                    <input type="text" id="targetUrl" class="form-control" placeholder="目标地址" required>
                    <span class="input-group-btn">
                        <button class="btn btn-outline-secondary" type="button" id="addTargetBtn"
                                data-toggle="modal" data-target="#myModal" aria-controls="myCollapse"
                                data-whatever="@mdo" onclick="newTarget()">添加扫描</button>
                    </span>
                </div><!-- /input-group -->

            </div>

        </div>
        <div class=" justification-content-md-center">
            <br>
            <p class="h2">扫描信息</p>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>目标</th>
                        <th>描述</th>
                        <th>扫描类型</th>
                        <th>扫描结果</th>
                        <th>扫描时间</th>
                        <th>扫描状态</th>
                        <th>导出文档</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody id="tablelist"></tbody>
                </table>
<!--                分页工具 -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled"><a id="pagePre" class="page-link" href="#">Previous</a></li>
                        <li class="page-item active" aria-current="page"><a id="page1" class="page-link">1</a></li>
                        <li class="page-item"><a id="page2" class="page-link">2</a></li>
                        <li class="page-item"><a id="page3" class="page-link">3</a></li>
                        <li class="page-item"><a id="pageNext" class="page-link">Next</a></li>
                    </ul>
                </nav>
<!--                分页工具 end -->
            </div>
        </div>
    </div>


</main>
<!-- new target modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">New Target</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="address" class="col-form-label">目标地址</label>
                        <input type="text" class="form-control" id="address" name="address" value="http://www.example.com/">
                    </div>
                    <div class="form-group">
                        <label for="ScanType" class="col-form-label">扫描类型</label>
                        <select class="form-control" id="ScanType">
                            <option value="11">Full Scan</option>
                            <option value="12">High Risk</option>
                            <option value="16">Cross-site Scripting</option>
                            <option value="13">SQL Injection</option>
                            <option value="15">Weak Passwords</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">扫描速度:</label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline" value="sequential" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Slower</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline" value="slow" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Slow</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline3" name="customRadioInline" value="moderate" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline3">Moderate</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline4" name="customRadioInline" value="fast" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadioInline4">Fast</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">描述</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="scanSubmitBtn">提交</button>
            </div>
        </div>
    </div>

</div>
<!-- new target modal end -->

<!-- new report modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">生成报告</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" hidden id="scan_id" value="">
                    </div>
                    <div class="form-group">
                        <label for="template_id" class="col-form-label">报告类型</label>
                        <select id="template_id" class="form-control">
                            <option value="11111111-1111-1111-1111-111111111115">Affected Items</option>
                            <option value="11111111-1111-1111-1111-111111111116">CWE 2011</option>
                            <option value="11111111-1111-1111-1111-111111111125">OWASP Top 10 2017</option>
                            <option value="11111111-1111-1111-1111-111111111114">HIPAA</option>
                            <option value="11111111-1111-1111-1111-111111111117">ISO 27001</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="reportSubmitBtn">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- new report modal end -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/layer/layer.js"></script>
<script type="text/javascript" src="/js/loadPage.js"></script>
<script src="/js/scan.js"></script>
<script src="/js/webSocket.js"></script>
<script>
$("#nav-placeholder").load("/navbar");
$.getScript("/js/navbar.js",function(){console.log("导入script成功");});
</script>
</body>
</html>